@using proje1.Models;

@{
    Layout = null;
    var customer = (Customer)ViewData["customer"];
    var vehicle1 = (List<Vehicle>)ViewData["vehicle1"];
    var vehicle2 = (List<Vehicle>)ViewData["vehicle2"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Css/map.css">
    <link rel="stylesheet" href="~/Content/Css/popup.css" />
    <link rel="stylesheet" href="~/Content/Css/scrollbar.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="~/Content/images/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="cus-icon">
                <img src="~/Content/images/icon.png" alt="">
            </div>
            <div class="cus-info">
                <a href="#">@customer.CusName @customer.CusLastName</a>
                <ul>
                    <li>
                        <a href="/Home/Logout">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div id="map"></div>
            <div class="list-container">
                <h2>Your Vehicles</h2>
                <div class="list-element">
                    <div class="row">
                        Vehicle ID: @vehicle1[0].Lat
                    </div>
                    <button type="button" id="btn1">Preview</button>
                </div>
                <div class="list-element">
                    <div class="row">
                        Vehicle ID: @vehicle1[vehicle1.Count - 1].Lat
                    </div>
                    <button type="button" id="btn2">Preview</button>
                </div>
                <div class="popup" id="popup">
                    <div class="popup-content">
                        <h3>Öyle Böyle</h3>
                        <hr>
                        <form action="#">
                            <div class="form-control">
                                <label>Begin:</label>
                                <input type="time" name="time" id="time">
                            </div>
                            <div class="form-control">
                                <label>&nbsp;&nbsp;End:&nbsp;</label>
                                <input type="time" id="time">
                            </div>
                            <div class="form-control">
                                <input type="submit" value="View">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="nebu">
            190202081@kocaeli.edu.tr |
            190202081@kocaeli.edu.tr
        </div>
    </div>

    <script>
        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 58.9, lng: 17 },
                zoom: 10,
            });

            var directionsService = new google.maps.DirectionsService();
            var directionsDisplay = new google.maps.DirectionsRenderer();
            directionsDisplay.setMap(map);

            let request = {
                origin: new google.maps.LatLng(Number(@vehicle1[0].Lat), Number(@vehicle1[0].Lng)),
                destination: new google.maps.LatLng(Number(@vehicle1[vehicle1.Count-1].Lat), Number(@vehicle1[vehicle1.Count-1].Lng)),
                travelMode: google.maps.TravelMode.DRIVING
            }

            directionsService.route(request, function (response, status) {
                if (status = 'OK') {
                    directionsDisplay.setDirections(response);
                }
            })
        };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXWuRsJJ7CWNPT5hseKv_RIry8uH9Jtr0&callback=initMap&v=weekly" async></script>

    <script src="~/Content/Scripts/popup.js"></script>
</body>
</html>
