@using proje1.Models;

@{
    Layout = null;
    var customer = (Customer)ViewData["customer"];
    var vehicle1 = (List<Vehicle>)ViewData["vehicle1"];
    var vehicle2 = (List<Vehicle>)ViewData["vehicle2"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Css/map.css">
    <link rel="stylesheet" href="~/Content/Css/popup.css" />
    <link rel="stylesheet" href="~/Content/Css/scrollbar.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <img src="~/Content/images/logo.png" alt="">
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="cus-icon">
                <img src="~/Content/images/icon.png" alt="">
            </div>
            <div class="cus-info">
                <a href="#">@customer.CusName @customer.CusLastName</a>
                <ul>
                    <li>
                        <a href="/Home/Logout">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div id="map"></div>
            <div class="list-container">
                <h2>Your Vehicles</h2>
                <div class="list-element">
                    <div class="row">
                        Vehicle ID: @vehicle1[0].Date
                    </div>
                    <button type="button" id="btn1">Preview</button>
                </div>
                <div class="list-element">
                    <div class="row">
                        Vehicle ID: @vehicle2[0].ID
                    </div>
                    <button type="button" id="btn2">Preview</button>
                </div>
                <div class="popup" id="popup">
                    <div class="popup-content">
                        <h3>Öyle Böyle</h3>
                        <hr>
                        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                        {
                            <div class="form-control">
                                <input type="time" name="begin" id="begin">
                            </div>
                            <div class="form-control">
                                <input type="submit" value="View">
                            </div>
                            <div class="id">
                                <input type="text" id="id" name="id" value="@customer.CusID" />
                            </div>
                            <div class="id">
                                <input type="text" id="vId" name="vId"/>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="nebu">
            190202081@kocaeli.edu.tr |
            190202081@kocaeli.edu.tr
        </div>
    </div>

    <script>
        var vehicle1 = @Html.Raw(Json.Encode(vehicle1));
        var vehicle2 = @Html.Raw(Json.Encode(vehicle2));

        let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: Number(vehicle1[0].Lat), lng: Number(vehicle1[0].Lng) },
                zoom: 12,
            });

            var latLngsV1 = [];
            var latLngsV2 = []

            for (let i = 0; i < vehicle1.length; i++) {
                const newLatLng = new google.maps.LatLng(Number(vehicle1[i].Lat), Number(vehicle1[i].Lng));
                console.log(vehicle1[0].Lat);
                const title = "Vehicle Id: " + vehicle1[i].ID + " | Location: " + i;
                addMarkerV1({ coords: newLatLng }, title);
                latLngsV1.push(newLatLng);
            }

            for (let i = 0; i < vehicle2.length; i++) {
                const newLatLng = new google.maps.LatLng(Number(vehicle2[i].Lat), Number(vehicle2[i].Lng));
                console.log(vehicle2[0].Lat);
                const title = "Vehicle Id: " + vehicle2[i].ID + " | Location: " + i;
                addMarkerV2({ coords: newLatLng }, title);
                latLngsV2.push(newLatLng);
            }

            drawLineV1(latLngsV1);
            drawLineV2(latLngsV2);

            function addMarkerV1(proops, title) {
                const marker = new google.maps.Marker({
                    position: proops.coords,
                    map: map,
                    title: title,
                    icon: {
                        url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
                    }
                });
            }

            function addMarkerV2(proops, title) {
                const marker = new google.maps.Marker({
                    position: proops.coords,
                    map: map,
                    title: title,
                    icon: {
                        url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png"
                    }
                });
            }

            function drawLineV1(latlng) {
                var line = new google.maps.Polyline({
                    path: latlng,
                    geodesic: true,
                    strokeColor: 'red',
                    strokeOpacity: 1.0,
                    strokeWeight: 2,
                });
                line.setMap(map);
            }

            function drawLineV2(latlng) {
                var line = new google.maps.Polyline({
                    path: latlng,
                    geodesic: true,
                    strokeColor: 'blue',
                    strokeOpacity: 1.0,
                    strokeWeight: 2,
                });
                line.setMap(map);
            }
        };
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXWuRsJJ7CWNPT5hseKv_RIry8uH9Jtr0&callback=initMap&v=weekly" async></script>

    <script src="~/Content/Scripts/popup.js"></script>
</body>
</html>
